<div class="container">
    {{#each news}}
    <br>
    <div class="row article" data-article_id={{this._id}}>
        <div class="col-sm-2 text-center">
            <a href={{this.url}} target="_blank">
                <img src={{this.pic}} style="float:left" class="img-thumbnail img-fluid articleImg">
            </a>
        </div>
        <div class="col-sm-10">
            <a href={{this.url}} target="_blank">
                {{this.headline}}
            </a>
            <button type="button" class="btn btn-sm btn-light commentsBtn" data-toggle="modal" data-target="#commentsModal" data-article_id={{this._id}}>Comments {{#if this.comments.length}}
                <span class="badge badge-light">{{this.comments.length}}</span>
                {{/if}}
            </button>
            {{#if this.saved}}
            <span class="align-top articleSaveBtn" data-saved={{this.saved}}>
                <i class="material-icons">
                    star
                </i>
            </span>
            {{else}}
            <span class="align-top articleSaveBtn showOnHover" data-saved={{this.saved}}>
                <i class="material-icons">
                    star_border
                </i>
            </span>
            {{/if}}
            <br>
            <p>{{this.summary}}</p>
            <p class="text-muted">Published on {{this.shortDate}}</p>
            <br>
            <hr>
        </div>
    </div>
    {{/each}}
</div>