 {{#each news}}
<div class="article" data-article_id={{this._id}}>
    <br>
    <a href={{this.url}}>
        <img src={{this.pic}} style="float:left"> {{this.headline}}
    </a>
    {{#if this.saved}}
    <span class="btn btn-circle btn-sm articleSaveBtn" data-saved={{this.saved}}>
        <i class="material-icons">
            star
        </i>
    </span>
    {{else}}
    <span class="btn btn-circle btn-sm articleSaveBtn" data-saved={{this.saved}}>
        <i class="material-icons">
            star_border
        </i>
    </span>
    {{/if}}

    <p>{{this.summary}}</p>
    <button type="button" class="btn commentsBtn" data-toggle="modal" data-target="#commentsModal">Comments</button>
    <br>
    <br>
</div>
{{/each}}